:root{
    --linearGradient:hsl(249, 99%, 64%), hsl(278, 94%, 30%);
    --red: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --lightGrayishViolet: hsl(270, 3%, 87%);
    --darkGrayishViolet: hsl(279, 6%, 55%);
    --veryDarkViolet: hsl(278, 68%, 11%);

}
/*


### Primary

- Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
- Red (input errors): hsl(0, 100%, 66%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%)


*/

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    color:var(--veryDarkViolet);
}

header{
    background-image: url("../img/bg-main-desktop.png");
    height: 100%;
    width: 400px;
}

main{
    display: flex;
    position:relative;
}

.card-container{
    transform: translateX(-250px);
    color:var(--white);

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-image: url("../img/bg-card-front.png");

    border-radius: 10px;

    min-width: 400px;
    height:200px;
}

svg{
    margin-left: 20px;
}

.card-container div h2{
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    
    margin-bottom: 10px;
}
.card-container p{
    color: var(--white);

}

.card-datails{
    display: flex;
    justify-content: space-between;

}

.card-datails span{
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 0px 20px;
}

.card-container-back{
    position: absolute;
    transform: translateY(220px) translateX(-150px);
    color:var(--white);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url('../img/bg-card-back.png');
    background-size: cover;
    border-radius: 10px;


    min-width: 400px;
    height: 200px;
}

.card-container-back span{
    position: absolute;
    transform: translateY(8px);
    padding:45px;
}

.form{
    display: flex;
    flex-direction: column;

    background-color: var(--white);
    padding: 20px;
}

.label{
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input{
    width: 100%;
    padding: 5px;

    border: 1px solid var(--lightGrayishViolet);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4 ease-in;
}

input:focus, .input:hover{
    border-color: linear-gradient(to right, var(--linearGradient));
}

.input.error{
    border-color: var(--red)!important;
}

.card-details-exp-cvc{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:10px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.container-exp-date{
    display: flex;
    gap:10px;
}

.btn{
    color: var(--white);
    text-transform:capitalize;
    background-color: var(--veryDarkViolet);
    border-radius: 5px;
    margin:20px;
    padding:10px;

    cursor: pointer;
}

.error{
    display: none;
    color:var(--red);
}
.error.active{
    display:inline;
}